/1st-Semester/Test_programs/Ymg_Anket_Uygulaması/target/
/1st-Semester/Test_programs/Ymg_Not_Testi/build/
/1st-Semester/Test_programs/Ymg_Not_Testi/nbproject/private/
/1st-Semester/Week12/build/
/1st-Semester/Week12/nbproject/private/
/1st-Semester/Ymg_Not_Testi/build/
/1st-Semester/Ymg_Not_Testi/nbproject/private/
/1st-Semester/recursion/build/
/1st-Semester/recursion/nbproject/private/
/1st-Semester/week10/build/
/1st-Semester/week10/nbproject/private/
/1st-Semester/week11/build/
/1st-Semester/week11/nbproject/private/
/1st-Semester/week13/build/
/1st-Semester/week13/nbproject/private/
/1st-Semester/week14/build/
/1st-Semester/week14/nbproject/private/
/1st-Semester/week15/build/
/1st-Semester/week15/nbproject/private/
/1st-Semester/week2.1/build/
/1st-Semester/week2.1/nbproject/private/
/1st-Semester/week3.1/build/
/1st-Semester/week3.1/nbproject/private/
/1st-Semester/week4/build/
/1st-Semester/week4/nbproject/private/
/1st-Semester/week5/build/
/1st-Semester/week5/nbproject/private/
/1st-Semester/week6/build/
/1st-Semester/week6/nbproject/private/
/1st-Semester/week8/build/
/1st-Semester/week8/nbproject/private/
/JavaApplication28/nbproject/private/