/Firs_Attemp/nbproject/private/
/Firs_Attemp/build/
/Firs_Attemp/dist/
/My_Attempt/nbproject/private/
/My_Attempt/build/
/My_Attempt/dist/
/Application/nbproject/private/
/Application/dist/
/Application/build/
/Work/nbproject/private/
/Work/build/
/Bucak_Ev/nbproject/private/
/Bucak_Ev/build/
/Week2_1/nbproject/private/
/week2_.1/nbproject/private/
/Week2_1/build/
/week3_.1/nbproject/private/
/week3_.1/build/
/week4._1/nbproject/private/
/week4._1/build/